@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="Welcome">Strange happenings</h1>

    <p class="lead">Here at Strange Happenings we provide our users a space to write, share and review in all kinds
            of topics. Users can create their own, review others and much more!</p>

    <p>To find articles, simply navigate the top menu.</p>

</div>


<div id ="imagesmain">
          

        <img src="~/images/football.jpg" width="200" height="150" alt="Football" />
        <img src="~/images/cooking.jpg" width="200" height="150" alt="Cooking" />
        <img src="~/images/programming.jpg" width="200" height="150" alt="Programming" />
        <img src="~/images/worldevents.png" width="200" height="150" alt="World Events" />
        <img src="~/images/cooking.jpg" width="200" height="150" alt="Cooking" />
        <img src="~/images/animal.jpg" width="200" height="150" alt="Animal" />
        <img src="~/images/cat.jpg" width="200" height="150" alt="Cat" />
        <img src="~/images/esports.jpg" width="200" height="150" alt="Esports" />
        <img src="~/images/food.jpg" width="200" height="150" alt="Food" />
        <img src="~/images/hottopics.jpg" width="200" height="150" alt="Hottopics" />
       
    
</div>


