@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="Welcome">Strange happenings</h1>

    <p class="lead">Here at Strange Happenings we provide our users a space to write, share and review in all kinds
            of topics. Users can create their own, review others and much more!</p>
    <p>Click on whichever topic interests you below or navigate through our articles via the main menu up above.</p>
</div>


<div class="col-md-4">
          

        <img src="~/" width="150" height="100" alt="Football" />
       
    </a>
</div>


