@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="Welcome">Strange happenings</h1>

    <p class="lead">Here at Strange Happenings we provide our users a space to write, share and review in all kinds
            of topics. Users can create their own, review others and much more!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What do we do?</h2>
        <p>
            
        </p>
   </div>
</div>