@model IEnumerable<Strange_Happenings.Models.Genre>

@{
//
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Article genres</title>
</head>
<body>
    <div class="page-holder">
        <table class="table" id="GenreTable">
            <caption>Genres</caption>
            <tr class="tableHead">
                <th>
                    @Html.DisplayNameFor(model => model.GenreName)
                </th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GenreName)
                    </td>
                    <td>
                        @Html.ActionLink("Search for articles", "Details", new { id = item.GenreID })
                    </td>
                </tr>
            }
        </table>
    </div>
</body>







</html>


