/*This is the CSS file for Strange Happenings*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #3061FF; /*Unsupported browsers*/    
    background: -moz-linear-gradient( right, #3061FF, white, #007CFF, #3061FF); /* Firefox */
    background: linear-gradient(to right, #3061FF, white, #007CFF, #3061FF ); /* Standard Syntax */



    
}

/*sets all site fonts to whatever is specified below*/
* {
    font-family: Arial;
    color: black;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    width: 100%;
    font-size: 12px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.descriptionView {
    width: 30%;
    height: 10%;
}

.page-holder {
    height: 600px;
    margin-top: 30px;
}



.dl-horizontal dt {
    white-space: normal;
}

.ArticleReviews {
    float: right;
    height: 500px;
    width: 50%;
    border: 1px solid black;
    margin-top: -160px;
    margin-right: 10%;
}

.ArticleReviews {
    text-align: center;
}

.imagesmain {
    text-align: center;
    border: none;
    
}


